/*--------------------------------------------------------------
# Color palette
--------------------------------------------------------------*/

// Primary
$jade: #00AD69;
$white: #FFF;

// Secondary
$mantis: #7CCC6C;
$fern: #4BC05B;
$observatory: #009271;
$tropical-rain-forest: #006C56;
$te-papa-green: #1E5A4D;

// Tertiary
$energy-yellow: #FFC82E;
$neon-carrot: #FFA12D;
$radical-red: #F1446F;
$error-red: $radical-red;
$rarity: #83389B;
$seagull: #1EB5BD;
$dark-olive: #364249;

// Cool grays
$limed-spruce: #36424A;
$nevada: #5F6A72;
$cadet-blue: #B5BDC9;
$athens-gray: #EAEDF2;
$aqua-haze: #F6F8FA;
$whisper: #F6F7FA;